$font-stack:    Helvetica, sans-serif;
$primary-color: #222;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

* {
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100%;
    width: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border-radius: 0.5rem;
    padding: 10px;
}