.Content {
    width: 90%;
    height: 100%;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    display:block;

    .title {
        text-align: center;
        margin-bottom: 2rem;
    }
    .Container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height:80%;
    }
}