.Header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;

    background: rgb(143, 59, 143);
    padding: 1.5rem;

    a {
    // font-family: "Comic Sans MS", cursive, sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
  }