.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 60px;
    width: 100%;
    padding: 10px 0;

    background: grey;

    font-family: Arial, sans-serif;
    font-size: 22px;
    color: rgba(10, 10, 10, 0.95);

    box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.45);

    a {
      color: inherit;
      font-weight: 900;
    }

    p {
      margin: auto;
    }
    .active {
      color: navy;
    }
  }