.Panel {
    width: 100%;
    background-color: lightcoral;
    text-align: center;
    min-height: 40vh;
}
.PanelContent {
    width: 80%;
    display: inline-block;
 ul {
     text-align: left;

 }
}