// $schedulecolor = lightseagreen;
.Schedule {
    background-color: lightseagreen;
    border-radius: 1rem;
    padding: 1rem;
    align-self: flex-start;

    button {
        color: inherit;
        background-color: inherit;
        border-color: darkslategray;
        // border: 2px solid #4CAF50; /* Green */
        border-style: solid;
    }

}
.collapse {
    // width: 100%;
    // height: 100%;
}