.Panel {
    width: 100%;
    background-color: lightcoral;
    text-align: center;
    min-height: 40vh;
    font-size: x-large;
    ul {
        text-align: left;
    }
}
.panel2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 480px) {
        h2 {
            line-height: 2rem;
            font-size: x-large;
            font-weight: normal;
        }
    }
}
.panel3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height:40vh;
    h2 {
        line-height: 2rem;
    }
}

.cover{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.howitworks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 480px) {
        ul {
            font-size: large;
            margin:0;
            padding-left: 8%;
            padding-right: 2%;
            line-height: 1.5rem;
        }
    }
}
.MainScreenShot {
    height: 40vh;
    padding-top: 2rem;
    padding-bottom: 1rem;
}